h3 Ovo je zapravo forma koju treba da radimo!
md-content
	form
		.row
			md-text-float(label="Naziv", ng-model="signup.name")
		.row
			md-text-float(label="Email", type="email", ng-model="signup.name")

		.row
			h3 Sirfu mozete da namestite kasnije :) 


		.row 
			

		.row 
			md-button.md-primary(ui-sref="poslodavac.job.add") Prijavite se
