h3 Tvoj Dom

div(layout="column")

	div(layout="row", layout-sm="column")
		div(ui-view="assigned")

	div(layout="row", layout-sm="column")
		div(ui-view="applied")
		div(ui-view="open")

md-divider 

