.md-whiteframe-z1(ui-sref="poslodavac.job.detail({id: item.id})")
	md-content
		h1 Job: {{ item.name }}! 
		h4 {{ item.credit }} din. 
		md-button.md-primary(ui-sref="poslodavac.job.detail({id: item.id})") Detalji
	md-divider