.md-whiteframe-z1
	md-content
		h1 Dobrodosli na mesto na kome se radi! 

		h1 Svi na rad.com 
		div(layout="horizontal", layout-align="center")
			md-button.md-raised.md-primary(ui-sref="poslodavac.signup") Prijavite se Poslodavci
			md-button.md-raised.md-warn(ui-sref="radnik.signup") Prijavite se Radnici

	
