md-toolbar
	div.md-toolbar-tools(layout="horizontal", layout-align="center", layout-fill)
		md-button.primary Home
		md-button Backups
		md-button Users
		md-button Analytics
		md-button Security
		md-button Statistics

//
	.section.row(ng-show="step > 1", ng-click="step = 0"): .col-md-12
		a.btn.btn-sm.btn-link
			h5.text-left
				small Section:
				| &nbsp;
				| Users

	.action.row(ng-show="step == 2")
		.col-md-12
			h2 What do you want to do? 

			.row
				.col-sm-4: a.btn.btn-default.btn-block(ng-click="do('add a user')")
					.thumbnail
						img(src="http://placehold.it/200x200")
						.caption
							h4 To add user
							p.text-muted Nesto sa userima i savetima o

				.col-sm-4: a.btn.btn-default.btn-block(ng-click="do('delete a user')")
					.thumbnail
						img(src="http://placehold.it/200x200")
						.caption
							h4 To delete user 
							p.text-muted Nesto sa userima i savetima o

				.col-sm-4: a.btn.btn-default.btn-block(ng-click="do('change password')")
					.thumbnail
						img(src="http://placehold.it/200x200")
						.caption
							h4 To change password
							p.text-muted Nesto sa userima i savetima o

				.col-sm-4: a.btn.btn-default.btn-block(ng-click="do('send presents')")
					.thumbnail
						img(src="http://placehold.it/200x200")
						.caption
							h4 To send presents to users 
							p.text-muted Nesto sa userima i savetima o



	.action.row(ng-show="step > 2", ng-click="step = 2"): .col-md-12
		a.btn.btn-link.btn-sm
			h5.text-left
				small Action: 
				| {{ action }}

	.selection.row(ng-show="step == 3")
		.col-md-12
			h2 Select which websites you want to manage? 

			.row: .col-md-12
				.form-group
					input.form-control(placeholder="filter", ng-model="topf")

			.row 
				.col-md-4 
					h4 TO BE MANAGED: 
					.well.well-lg(ng-show="sites.length == 0")
						h4.text-muted Select some of the websites on the right

					a.btn.btn-block.btn-default(ng-repeat="item in sites", ng-click="remove(item)")
						h4.text-left {{ item }}


				.col-md-4
					h4
						| Websites&nbsp;
						a.btn.btn-sm.btn-success: i.fa.fa-plus

					a.btn.btn-block.btn-default(ng-repeat="it in ['svinarad.com', 'fuca.rs'] | filter: topf", ng-click="toggle(it)", ng-class="{'btn-success': selected(it)}")
						h4.text-left {{ it }}

				.col-md-4
					h4 
						| Groups &nbsp;
						a.btn.btn-sm.btn-info: i.fa.fa-plus-square
					.well.well-lg
						h4.text-muted You can create groups by dragging websites in this area

			.row: .col-md-12
				a.btn.btn-success.btn-block.brother-btn(ng-click="foo()", ng-hide="sites.length == 0")
					h4 OK! Let's {{ action }}!

	.selection.row(ng-show="step > 3"): .col-md-12
		h5.text-danger.text-left
			small Selected 
			span(ng-repeat="item in sites")
				a.btn.btn-warning.btn-sm(ng-click="remove(item)")
					| {{ item }}
					| &nbsp;
					i.fa.fa-remove 

				| &nbsp;


			a.pull-right.btn.btn-sm(ng-click="doSelect()") See all




	.row(ng-show="step == 4"): .col-md-12
		h3 Change password


		.row
			.col-md-6 
				.form-group
					input.form-control Search for user 


		h4 Forma bla bla bla 

	*/
