div(layout="horizontal", layout-align="center center")
	div(flex) 
		md-checkbox(ng-model="data.cb1", aria-label="Checkbox 1") Checkbox 1: {{ data.cb1 }}
		md-checkbox(ng-model="data.cb1", aria-label="Checkbox 1") Checkbox 1: {{ data.cb1 }}
		md-checkbox(ng-model="data.cb1", aria-label="Checkbox 1") Checkbox 1: {{ data.cb1 }}
		md-checkbox(ng-model="data.cb1", aria-label="Checkbox 1") Checkbox 1: {{ data.cb1 }}

	div(flex) 
		md-button.md-raised.md-primary Zaposli se

	div(flex) Tres