div(layout="column")
	p Posao br: {{ item.id }}
	div(layout-gt-sm="row", layout-sm="column")
		div(flex-gt-sm="66")
			h1 {{ item.name }}
		div(flex-gt-sm="33")
			md-button.md-raised.md-primary(md-theme="green", ng-click="action()") 
				i.fa.fa-check-square.fa-3x
				| &nbsp;&nbsp;
				| Prijavi se!

	div(flex, layout="column")
		ui-view

	md-divider

	div(flex, layout="row")
		div(md-theme="blue", flex)
			p Poslodavac:
			h2 Scooby McGrudge
		div(flex, md-theme="red")
			p Radnik:
			p Jos nije izabran
	
	md-divider
	
	div(flex, layout="row")
		div(flex="33")
			h2 Status:
			{{ item.status }}

		div(flex="66", layout="column")
			div(layout="row")
				div(flex)
					h6 Lova
					h1 {{ item.credit }}
				div(flex)
					h6 Gde i kad
					p {{ item.details }}
			div
				h6 Instrukcije
				{{ item.instructions }}